{% extends "base.html" %}
{% block content %}

<!-- for bokeh graphs -->
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>
    {{ script | safe }}
  </head>

<h1>{{ title }}</h1>
<div class="dashboard">
<h3>Positions dashboard</h3>
<table>

	<tr>
		<td class="tableheader">Stock</td>
		<td class="tableheader">Shares</td>
		<td class="tableheader">Value</td>
		<td class="tableheader">Cost basis</td>
		<td class="tableheader">Gain(Loss)</td>
		<td class="tableheader">G/L %</td>
		<td class="tableheader">G/L Day</td>
	</tr>
	{% for position in positions %}
	<tr class="stocklist">
		<td><a href="{{ url_for('stock', symbol=position.symbol) }}">{{ position.symbol }}</a></td>
		<td>{{ position.prettysharecount }}</td>
		<td>{{ position.prettyvalue }}</td>
		<td>{{ position.prettycost }}</td>
	{% if position.loss %}
		<td class="loss">{{ position.prettygain_loss }}</td>
		<td class="loss">{{ position.prettygain_loss_percent }}</td>
		{% if position.daily_gain_loss %}
		<td class="loss">{{ position.prettydaily_gain }}</td>
		{% endif %}
		{% if not position.daily_gain_loss %}
		<td class="gain">{{ position.prettydaily_gain }}</td>
		{% endif %}
	{% endif %}
	{% if not position.loss %}
		<td class="gain">{{ position.prettygain_loss }}</td>
		<td class="gain">{{ position.prettygain_loss_percent }}</td>
		{% if position.daily_gain_loss %}
		<td class="loss">{{ position.prettydaily_gain }}</td>
		{% endif %}
		{% if not position.daily_gain_loss %}
		<td class="gain">{{ position.prettydaily_gain }}</td>
		{% endif %}
	{% endif %}
	</tr>
	{% endfor %}
	<tr class="tableheader">
		<td>Total</td>
		<td></td>
		<td>{{ portfolio.prettytotal_stock_value }}</td>
		<td>{{ portfolio.prettytotal_cost }}</td>
		{% if portfolio.loss %}
			<td class="loss">{{ portfolio.prettytotal_gain_loss }}</td>
			<td class="loss">{{ portfolio.prettytotal_gain_loss_percent }}</td>
		{% endif %}
		{% if not portfolio.loss %}
			<td class="gain">{{ portfolio.prettytotal_gain_loss }}</td>
			<td class="gain">{{ portfolio.prettytotal_gain_loss_percent }}</td>
		{% endif %}
		{% if portfolio.daily_gain_loss %}
		<td class="loss">{{ portfolio.prettydaily_gain }}</td>
		{% endif %}
		{% if not portfolio.daily_gain_loss %}
		<td class="gain">{{ portfolio.prettydaily_gain }}</td>
		{% endif %}	
	</tr>
	<tr>
		<td>Cash available: </td>
		<td>{{ portfolio.prettycash }}</td>
		<td></td>
		<td>Account value: </td>
		<td>{{ portfolio.prettyvalue }}</td>
	</tr>
</table>
</div>

<div class="tradebox">
	<h4>Make a trade</h4>
	{% from "_formhelpers.html" import render_field %}
	<form action="{{ url_for('user') }}" method="post">
		{{ form.hidden_tag() }}

		{{ render_field(form.symbol) }}
		{{ render_field(form.share_amount) }}
		{{ render_field(form.buy_or_sell) }}
		<input type="submit" value="Trade"></p>
	</form>
</div>

<!-- graph stuff -->
<div class=page>
  {{ div | safe }}
</div>
<!-- <span id="position_pie_legend"><ul>
	{% for position in positions %}
		<li>{{ position.symbol }}</li>
	{% endfor %}
</ul>
</span>
 -->{% endblock %}