{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<div class="dashboard">
<h4>Account dashboard</h4>
<table>
	<tr>
		<td class="tableheader">Account value: </td>
		<td>{{ portfolio.prettyvalue }}</td>
	</tr>
	<tr>
		<td class="tableheader">Cash available: </td>
		<td>{{ portfolio.prettycash }}</td>
	</tr>
	<tr class="tableheader">
		<td>Positions</td>
	</tr>
	<tr>
		<td class="tableheader">Stock</td>
		<td class="tableheader">Shares</td>
		<td class="tableheader">Value</td>
		<td class="tableheader">Cost basis</td>
		<td class="tableheader">Gain/(Loss)</td>
	</tr>
	{% for position in positions %}
	<tr class="stocklist">
		<td>{{ position.symbol }}</td>
		<td>{{ position.sharecount }}</td>
		<td>{{ position.prettyvalue }}</td>
		<td>{{ position.prettycost }}</td>
		<td>{{ position.gain_loss }}</td>
	</tr>
	{% endfor %}
</table>
</div>
<div class="tradebox">
	<h4>Make a trade</h4>
	{% from "_formhelpers.html" import render_field %}
	<form action="{{ url_for('user') }}" method="post">
		{{ form.hidden_tag() }}

		{{ render_field(form.symbol) }}
		{{ render_field(form.share_amount) }}
		{{ render_field(form.buy_or_sell) }}
		<input type="submit" value="Trade"></p>
	</form>
</div>


{% endblock %}