{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<h5>Cheesy name, I know. I was on the spot when uploading the app to the server and I had to find a name which wasn't already taken. Maybe I'll change it someday.</h5>
<h5>The goal of this project is to learn to build an application from end to end using Python, Flask, HTML, CSS, JavaScript, PostgreSQL, SQLAlchemy ORM, MVx design principles and other concepts. I'm trying to be pretty thorough in documenting the process; check out the <a href="/news">release log</a> if you're curious. Feel free to <a href="mailto:abmorton@gmail.com">email me</a> if you have questions or would like the source code. I'm a big believer that helping others learn benefits everyone.</h5>
<br>
<p>Features in development for this page:</p>
<ul>
	<li>Daskboard of account status</li>
	<li>Stock game leaderboards</li>
	<li>Some stats on the most active/best/worst-performing stocks of the day</li>
	<li>Links to articles you might be interested in, based on the stocks you look at or own</li>
	<li>Resources on how to learn more about the stock market and trading</li>
</ul>
<p>Here are some features for other pages on this site which I'm considering developing:</p>
<ul>
	<li>Smart search (not just stock symbols, but also company names.)</li>
	<li>Some decent design, including a logo</li>
	<li>Stock graphs/charts</li>
	<li>Historical stock data lookup</li>
	<li>Email notifications</li>
	<li>Sign in with either username or email address and password.</li>
	<li>Possibility to sign in or create an account via Facebook or other social media.</li>
	<li>Account settings/password management</li>
	<li>Private messaging</li>
	<li>"Follower" relationships</li>
	<li>User avatars</li>
	<li><a href="mailto:abmorton@gmail.com?subject=StockHawk feature idea">Let me know</a> if you have other ideas!</li>
</ul>
<br>
<h5>In the meantime, check out the <a href="/stocks">stock page</a>.</h5>

{% endblock %}