{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<h4>Cheesy name, I know. I was on the spot when uploading the app to the server and I had to find a name which wasn't already taken. Maybe I'll change it someday.</h4>
<br>
<p>This is the main page. It doesn't really do anything right now, but eventually it will have some pretty cool features:</p>
<ul>
	<li>Daskboard of account status</li>
	<li>Stock game leaderboards</li>
	<li>Some stats on the most active/best/worst-performing stocks of the day</li>
	<li>Links to articles you might be interested in, based on the stocks you look at or own</li>
</ul>
<p>Here are some features for other pages on this site which I'm considering developing:</p>
<ul>
	<li>Smart search (not just stock symbols)</li>
	<li>Some decent design, including a logo</li>
	<li>Registration (admin/admin is the only working account presently)</li>
	<li>Email notifications</li>
	<li>Account settings/password management</li>
	<li>Avatars</li>
	<li><a href="mailto:abmorton@gmail.com?subject=StockHawk feature idea">Let me know</a> if you have other ideas!</li>
</ul>
<br>
<h4>In the meantime, check out the <a href="/stocks">stock page</a>. It works!</h4>

{% endblock %}