{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<br>
<p>Hi there. This is the main page. It doesn't really do anything right now, but eventually it will have some pretty cool features:</p>
<ul>
	<li>Daskboard of account status</li>
	<li>Stock game leaderboards</li>
	<li>Some stats on the most active/best/worst-performing stocks of the day</li>
	<li>Links to articles you might be interested in, based on the stocks you look at or own</li>
	<li><a href="mailto:abmorton@gmail.com?subject=StockHawk feature idea">Let me know</a> if you have other ideas!</li>
</ul>

{% endblock %}