{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>

<h3>Release log</h3>

<div class="release">
	<span class="date">10/15/15</span>
	<span class="release_num">Alpha 0.3</span>
	<ul class="newfeatures">
		
		<li>Implemented trading capability on <a href="/user">user</a> page!</li>
		<li>Now writing most current stock prices and 
			information to database on every lookup or trade.</li>
		<li>Some refactoring to fix datatypes to correct types further 
			upstream in the code.</li>
		<li>Fixed incorrect datatype assignment for date attributes in certain 
			database tables.</li>
		<!-- <li></li> -->
	</ul>
</div>


<div class="release">
	<span class="date">10/14/15</span>
	<span class="release_num">Alpha 0.23</span>
	<ul class="newfeatures">
		<li>Basic session capability, which will allow trades to be tied to users and their portfolios.</li>
		<li>Navigation bar adapts to recognize logged-in status.</li>
		<li>Each new user receives $1,000,000  upon registration to use for trading.</li>
		<li>Basic user dashboard indicating account balance.</li>
	</ul>
</div>


<div class="release">
	<span class="date">10/14/15</span>
	<span class="release_num">Alpha 0.2</span>
	<ul class="newfeatures">
		<li>Improvements to home page, describing project goals.</li>
		<li>Implemented graceful 404 exception handling.</li>
		<li>Backend implementation of trade, position and portfolio tables.</li>
		<li>Enhancements to the <a href="/db_view">development page</a>,  giving a view of the engine behind the application.</li>
	</ul>
</div>

<div class="release">
	<span class="date">10/12/15</span>
	<span class="release_num">Alpha 0.17</span>
	<ul class="newfeatures">
		<li>Added registration page and functionality; instead of only allowing hard-coded "admin/admin" credentials to work, login is database-based.</li>
		<li>Added "last seen" datetime object to User class.</li>
		<li>Added User table to database preview page.</li>
		<li>Added "most popular stock searches" feature on stock page.</li>
		<li>Added form validation for login, registration and stock search.</li>
		<li>Added Terms of Service and Privacy Policy</li>
	</ul>
</div>

<div class="release">
	<span class="date">10/11/15</span>
	<span class="release_num">Alpha 0.14</span>
	<ul class="newfeatures">
		<li>Connecteted application to database server. Persistence!</li>
		<li>Created data model for stock, inserted some data.</li>
		<li>Converted dates (dividend paydates, e.g.) from strings to python datetime format for entry into database and logic that will come later.
		<li>Added database preview page (mostly for development purposes.)</li>
	</ul>
</div>

<div class="release">
	<span class="date">10/10/15</span>
	<span class="release_num">Alpha 0.11</span>
	<ul class="newfeatures">
		<li>Added news page with release info.</li>
		<li>Backend database preperation work.</li>
		<li>Fixed a bug which caused the server to crash when very long search queries were entered on stock page.</li>
	</ul>
</div>
<div class="release">
	<span class="date">10/9/15</span>
	<span class="release_num">Alpha 0.1</span>
	<ul class="newfeatures">
		<li>Pushed application to Heroku server.</li>
		<li>Bug fixes when searching for stocks with 'white space' or non letter characters.</li>
		<li>Backend logic to determine display style/color of price change on stock page (no JavaScript needed!)</li>
		<li>Refactored backend structure, simplifying templating for stock information and preparing for entry into database.</li>
		<li>Auto-focusing on text field on stock search and user login pages.</li>
		<li>Updates to stylesheet, overriding Bootstrap's form focus styles for user inputs.</li>
	</ul>
</div>

{% endblock %}

<!-- <div class="release">
	<span class="date"></span>
	<span class="release_num"></span>
	<ul class="newfeatures">
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
 -->