{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>

<p>Enter the username or email address associated with your account and we'll send you a reminder email.</p>

<form action="{{ url_for('password_reminder') }}" method="post">
	{{ form.hidden_tag() }}

	<p>Username or email address:
		{{ form.username(autofocus="autofocus", placeholder="user@email.com") }}

	<input type="submit" value="Remind me!"></p>
</form>

<h4><a href="/register">Sign up</a> for StockHawk</h4>

{% endblock %}