{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>
<br>
{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('register') }}" method="POST">
		{{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <p><input type="submit" value="Register">
</form>
<p><a href="/tos" target="_blank">Terms of Service</a></p>
{% endblock %}