{% extends "base.html" %}
{% block content %}

<h1>{{ title }}</h1>

<p><b>Username: </b>{{ user.name }}</p>
<p><b>Email: </b>{{ user.email }}</p>

{% from "_formhelpers.html" import render_field %}
<form action="{{ url_for('settings') }}" method="POST">
		{{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password) }}
    {{ render_field(form.confirm_new_password) }}
  </dl>
  <p><input type="submit" value="Change password">
</form>
<br>
<br>
<form action="{{ url_for('delete_account') }}" method="POST">
		{{ deleteform.hidden_tag() }}
  <dl>
    {{ render_field(deleteform.confirm) }}
  </dl>
  <p><input type="submit" value="Delete account" class="danger">
</form>


{% endblock %}