{% extends "base.html" %}
{% block content %}

<div class="dashboard">
<h1>{{ title }}</h1>
{% if form %}
	<form action="{{ url_for('stocks') }}" method="post">
		{{ form.hidden_tag() }}
		<p>Search for a stock symbol:
		{{ form.stocklookup(size=8, autofocus="autofocus") }}
		<input type="submit" value="Search"></p>
	</form>
{% endif %}
	<!-- display stock if there is one -->
	{% if stock %}
<div id="stock">
	<div id="summary">
		<span id="name">{{ stock.name }} ({{ stock.symbol }})</span>
		<span id="exchange"> - {{ stock.exchange }}</span><br>
		<span id="price" >${{ stock.price }}</span>
		{% if loss %}
		<span class="loss">{{ stock.change }} ({{ stock.percent_change }})</span><br>
		{% endif %}
		{% if not loss %}
		<span id="change">{{ stock.change }} ({{ stock.percent_change }})</span><br>	
		{% endif %}
		<span id="afterhours">After hours: {{ stock.afterhours }}</span>
		<span id="last_traded">Last trade: {{ stock.last_traded }}</span>
	</div>
	<div id="stocktables">
		<table>
			<tr>
				<td>Prev close:</td><td class="value">${{ stock.prev_close }}</td>
			</tr>
			<tr>
				<td>Open:</td><td class="value">${{ stock.open }}</td>
			</tr>
			<tr>
				<td>Bid:</td><td class="value">${{ stock.bid }}</td>
			</tr>
			<tr>
				<td>Ask:</td><td class="value">${{ stock.ask }}</td>
			</tr>
			<tr>
				<td>1y Target Est:</td><td class="value">${{ stock.yr_target }}</td>
			</tr>
			<tr>
				<td>Volume:</td><td class="value">{{ stock.volume }}</td>
			</tr>
			<tr>
				<td>Avg Vol:</td><td class="value">{{ stock.av_volume }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>Day's Range:</td><td class="value">${{ stock.day_range }}</td>
			</tr>
			<tr>
				<td>52wk Range:</td><td class="value">${{ stock.year_range }}</td>
			</tr>
			<tr>
				<td>Market Cap</td><td class="value">{{ stock.market_cap }}</td>
			</tr>
			<tr>
				<td>P/E:</td><td class="value">${{ stock.peratio }}</td>
			</tr>
			<tr>
				<td>Div Yield:</td><td class="value">{{ stock.div }}%</td>	
			</tr>
			<tr>
				<td>Ex Div:</td><td class="value">{{ stock.ex_div }}</td>
			</tr>
			<tr>
				<td>Div Pay Date:</td><td class="value">{{ stock.div_pay }}</td>
			</tr>
		</table>
	</div>
</div>



<!-- allow trading for logged in users once the mechanics are cleaned up -->

<!-- 		{% if loggedin_user %}
			<form action="{{ url_for('trade') }}" method="post">
				{{ tradeform.hidden_tag() }}
				{{ tradeform.share_amount }}
				{{ tradeform.buy_or_sell }}
				<input type="submit" value="Trade"></p>
			</form>
		{% endif %}
 -->
	{% endif %}

	{% if not stock %}
		<h4>Most popular stock searches:</h4>
	<div class="stocklist">
		<table class="stocklist">
			<tr class="tableheader">
				<td>Symbol</td>
				<td>Name</td>
				<td>Price (USD)</td>
				<td>Market Cap.</td>
			</tr>
		{% for stock in stocks %}
			<tr>
				<td>{{ stock.symbol }}</td>
				<td>{{ stock.name }}</td>
				<td>{{ stock.prettyprice }}</td>
				<td>{{ stock.market_cap }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
</div>

<div id="leaderboard">
	<p>Leaderboard</p>
	<ol>
		{% for l in leaders %}
		<li>{{ l.owner.name }}: {{ l.value }}</li>
		{% endfor %}
	</ol>
</div>

{% endblock %}
